// https://coolors.co/a8edc8-f4f4f2-7ca2aa-56504d-212323

$light4: #a8edc8;
$light3: #fcfcf2;
$light2: #7ca2aa;
$light1: #56504d;
$light0: #212323;
$red: #982f18;


.red {
    background: $red !important;
    color: $light3 !important;

    &:hover {
	    background: lighten($red, 10%) !important;
    }
}
