@import "selector";

.band {
    li {
        list-style: none;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background: $light4;
            color: $light3;
        }

        form {
            display: none;
            margin: 0;
            padding: 0;

            input {
                margin: 0;
            }
        }

        .name {
            display: block;
        }

        &.active {
            font-weight: 800;

            form {
                display: block;
            }

            .name {
                display: none
            }
        }
    }

}
