@import "selector";

.bands {
    li {
        list-style: none;

        .band-edit {

        }
    }
}




.band-edit {
    cursor: pointer;
    padding: 5px;
    position: relative;

    .edit-show {
        display: none;
    }
    .edit-hide {
        display: block;
    }

    &.editing {
        font-weight: 800;
        padding: 20px;

        .edit-show {
            display: block;
        }

        .edit-hide {
            display: none;
        }
    }


    &:hover, &.editing {
        background: $light4;
        color: $light3;
    }

    form {
        margin: 0;
        padding: 0;

        input {
            margin: 0;
        }
    }

    .band-members {
        border-top: 2px solid $light1;
        margin-top: 20px;

        h6 {
            color: $light0;
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            color: $light2;
        }
    }

}
