@import "selector";

.band {
    li {
        list-style: none;
        cursor: pointer;
        padding: 5px;
        position: relative;

        &:hover, &.active {
            background: $light4;
            color: $light3;
        }

        form {
            margin: 0;
            padding: 0;

            input {
                margin: 0;
            }
        }

        .active-show {
            display: none;
        }

        &.active {
            font-weight: 800;
            padding: 20px;

            .delete {
                position: absolute;
                top: 5px;
                right: 5px;
                color: $light0;
                weight: 300;
            }

            .active-show {
                display: block;
            }

            .active-hide {
                display: none;
            }
        }
    }

}
