header .menu .band-selector {
    position: relative;

    div.band-image {
        display: inline-block;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $light4;
        transition: all .1s;
        margin-top: 5px;

        img {
            display: block;
            width: 100%;
        }

    }


    ul {
        background: none;
        width: auto;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: all .3s;


        li {
            list-style: none;
            max-height: 0;
            overflow: hidden;
            transition: all 1s;
            cursor: pointer;
            background: none;



            &.active {
                display: none;
            }
        }
    }

    &:hover {

        ul {
            max-height: 10000px;
            // -ms-transform: skew(2deg, -5deg); /* IE 9 */
            // -webkit-transform: skew(2deg, -5deg); Chrome, Safari, Opera
            // transform: skew(2deg, -5deg);

            li {
                max-height: 100px;
                transition: all .3s;

            }
        }

    }

    .band-label {
        position: relative;
        transition: all .5s;

        span {
            position: absolute;
            background: $light3;
            top: 23px;
            padding: 2px;
            font-size: 9px;
            opacity: 0.8;
            left: 0;
            right: 0;
        }

        &:hover {
            // transform: rotate(10deg);

            span {
                background: $light4;
            }

            .band-image {
                box-shadow: 0px 0px 3px $light4;
            }


        }
    }
}
