Django==1.9
Markdown==2.6.5
appnope==0.1.0
coverage==4.0.3
decorator==4.0.6
django-filter==0.11.0
djangorestframework==3.3.2
gnureadline==6.3.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
redis==2.10.5
simplegeneric==0.8.1
traitlets==4.0.0
django-cors-headers==1.1.0
djangorestframework-recursive==0.1.1
Pillow==3.0.0
django-rest-auth==0.6.0
channels==0.17.2
asgi-redis==0.14.1
redis==2.10.5
easy-thumbnails==2.3
