.avatar-container {
	overflow: hidden;
	position: relative;

	img {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
	}

	&:after {
		padding-top: 100%;
		width: 100%;
		display: block;
		content: "";
	}
}

.avatar-circle .avatar-container {
	width: 50px;
	border-radius: 50%;
	border: 2px solid $light3;
	margin: 0 auto;
}
