.avatar {
	#upload {
		display: none;
	}

	.preview {
		position: relative;

		.progress {
			background: $light2;
			height: 4px;
		}

		label {
			background: $light3;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
			cursor: pointer;

			&:hover {
				background: $light4;
			}
		}

		img {
			width: 100%;
			display: inline-block;
		}
	}
}


