form.post-form {
    input {
        height: 50px;
    }
}


.thread {
    background: $light4;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;

    .author {
        font-weight: 800;
    }

    .date {
        font-weight: 300;
        color: $light1;
    }

    .comment {
        margin-top: 1px;
        background: lighten($light4, 10%);
        padding: 10px;
        position: relative;
    }

    .post-form, input {
        margin: 0;
    }

    .delete {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
