EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = '/tmp/app-messages'
FROM_EMAIL = 'info@bandalists.com'

MEDIA_ROOT = '/home/bandalists/media'
MEDIA_URL = '/media/'
DEBUG = False
SECRET_KEY = {{ secret_key }}
