header {
    background: $light2;
    position: relative;
    margin-bottom: 80px;

    .logo img {
        height: 100px;
        display: block;
        position: absolute;
        top: 10px;
    }

    .menu {
        float: right;
        margin: 0;

        li {
            float: right;
            margin: 0;
            list-style: none;
            text-align: center;

            a {
                margin-top: 5px;
                color: $light3;
                vertical-align: middle;
                line-height: 55px;
                display: block;
                height: 55px;
                border-bottom: 5px solid $light2;



                &:hover {
                    background: $light3;
                    color: $light4;
                    border-bottom: 5px solid $light3;

                }

                &.active {
                    border-bottom: 5px solid $light4;
                }
            }
        }
    }
}
