header {
    background: $light2;
    position: relative;
    margin-bottom: 80px;
    z-index: 100;

    .logo img {
        height: 100px;
        display: block;
        position: absolute;
        top: 10px;
    }

    .menu {
        float: right;
        margin: 0;

        .profile {
            &:hover {
                & > a, & > span {
                    background: $light2;
                    border-bottom: none;

                    img {
                        opacity: 0.5;
                    }
                }
            }

            a.active {
                border-bottom: none;
            }
        }

        & > li {
            float: right;
            margin: 0;
            list-style: none;
            text-align: center;
            position: relative;

            &:hover {
                & > a, & > span {
                    background: $light3;
                    color: $light4;
                    border-bottom: 5px solid $light3;
                }
            }


            ul {
                position: absolute;
                display: none;
                background: $light2;
                margin: 0;
                padding: 0;
                width: 200px;

                li {
                    margin: 0;
                    float: none;
                }
            }

            &:hover {

                ul {
                    display: block;
                }

            }

            & > a, & > span {
                text-transform: uppercase;
                margin-top: 5px;
                color: $light3;
                vertical-align: middle;
                line-height: 55px;
                display: block;
                height: 55px;
                border-bottom: 5px solid $light2;
                position: relative;

                &.on {
                    box-shadow: 0px -14px 15px -15px red;
                }




                &.active {
                    border-bottom: 5px solid $light4;
                }
            }
        }
    }
}
